:root {
  font-family: "Poppins";
  --color-gold: #E49E33;
  --color-red: #c23e45;
}
:root,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
html,
body,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
